Results/test.mp4
Results/Cell Fate - Organoid/Data_0of10.csv
Results/Cell Fate - Organoid/Data_1of10.csv
Results/Cell Fate - Organoid/Data_2of10.csv
Results/Cell Fate - Organoid/Data_3of10.csv
Results/Cell Fate - Organoid/Data_4of10.csv
Results/Cell Fate - Organoid/Data_5of10.csv
Results/Cell Fate - Organoid/Data_6of10.csv
Results/Cell Fate - Organoid/Data_7of10.csv
Results/Cell Fate - Organoid/Data_8of10.csv
Results/Cell Fate - Organoid/Data_9of10.csv
Results/Cell Fate - Organoid/Data_10of10.csv
Results/Cell Fate - Organoid/NANOG_0of10.pdf
Results/Cell Fate - Organoid/NANOG_0of10.png
Results/Cell Fate - Organoid/NANOG_1of10.pdf
Results/Cell Fate - Organoid/NANOG_1of10.png
Results/Cell Fate - Organoid/NANOG_2of10.pdf
Results/Cell Fate - Organoid/NANOG_2of10.png
Results/Cell Fate - Organoid/NANOG_3of10.pdf
Results/Cell Fate - Organoid/NANOG_3of10.png
Results/Cell Fate - Organoid/NANOG_4of10.pdf
Results/Cell Fate - Organoid/NANOG_4of10.png
Results/Cell Fate - Organoid/NANOG_5of10.pdf
Results/Cell Fate - Organoid/NANOG_5of10.png
Results/Cell Fate - Organoid/NANOG_6of10.pdf
Results/Cell Fate - Organoid/NANOG_6of10.png
Results/Cell Fate - Organoid/NANOG_7of10.pdf
Results/Cell Fate - Organoid/NANOG_7of10.png
Results/Cell Fate - Organoid/NANOG_8of10.pdf
Results/Cell Fate - Organoid/NANOG_8of10.png
Results/Cell Fate - Organoid/NANOG_9of10.pdf
Results/Cell Fate - Organoid/NANOG_9of10.png
Results/Cell Fate - Organoid/NANOG_10of10.pdf
Results/Cell Fate - Organoid/NANOG_10of10.png
Results/Cell Fate - Organoid/Data_0of10.csv
Results/Cell Fate - Organoid/Data_0of20.csv
Results/Cell Fate - Organoid/Data_1of10.csv
Results/Cell Fate - Organoid/Data_1of20.csv
Results/Cell Fate - Organoid/Data_2of10.csv
Results/Cell Fate - Organoid/Data_2of20.csv
Results/Cell Fate - Organoid/Data_3of10.csv
Results/Cell Fate - Organoid/Data_3of20.csv
Results/Cell Fate - Organoid/Data_4of10.csv
Results/Cell Fate - Organoid/Data_4of20.csv
Results/Cell Fate - Organoid/Data_5of10.csv
Results/Cell Fate - Organoid/Data_5of20.csv
Results/Cell Fate - Organoid/Data_6of10.csv
Results/Cell Fate - Organoid/Data_6of20.csv
Results/Cell Fate - Organoid/Data_7of10.csv
Results/Cell Fate - Organoid/Data_7of20.csv
Results/Cell Fate - Organoid/Data_8of10.csv
Results/Cell Fate - Organoid/Data_8of20.csv
Results/Cell Fate - Organoid/Data_9of10.csv
Results/Cell Fate - Organoid/Data_9of20.csv
Results/Cell Fate - Organoid/Data_10of10.csv
Results/Cell Fate - Organoid/Data_10of20.csv
Results/Cell Fate - Organoid/Data_11of20.csv
Results/Cell Fate - Organoid/Data_12of20.csv
Results/Cell Fate - Organoid/Data_13of20.csv
Results/Cell Fate - Organoid/Data_14of20.csv
Results/Cell Fate - Organoid/Data_15of20.csv
Results/Cell Fate - Organoid/Data_16of20.csv
Results/Cell Fate - Organoid/Data_17of20.csv
Results/Cell Fate - Organoid/Data_18of20.csv
Results/Cell Fate - Organoid/Data_19of20.csv
Results/Cell Fate - Organoid/Data_20of20.csv
Results/Cell Fate - Organoid/NANOG_0of10.pdf
Results/Cell Fate - Organoid/NANOG_0of10.png
Results/Cell Fate - Organoid/NANOG_0of20.pdf
Results/Cell Fate - Organoid/NANOG_0of20.png
Results/Cell Fate - Organoid/NANOG_1of10.pdf
Results/Cell Fate - Organoid/NANOG_1of10.png
Results/Cell Fate - Organoid/NANOG_1of20.pdf
Results/Cell Fate - Organoid/NANOG_1of20.png
Results/Cell Fate - Organoid/NANOG_2of10.pdf
Results/Cell Fate - Organoid/NANOG_2of10.png
Results/Cell Fate - Organoid/NANOG_2of20.pdf
Results/Cell Fate - Organoid/NANOG_2of20.png
Results/Cell Fate - Organoid/NANOG_3of10.pdf
Results/Cell Fate - Organoid/NANOG_3of10.png
Results/Cell Fate - Organoid/NANOG_3of20.pdf
Results/Cell Fate - Organoid/NANOG_3of20.png
Results/Cell Fate - Organoid/NANOG_4of10.pdf
Results/Cell Fate - Organoid/NANOG_4of10.png
Results/Cell Fate - Organoid/NANOG_4of20.pdf
Results/Cell Fate - Organoid/NANOG_4of20.png
Results/Cell Fate - Organoid/NANOG_5of10.pdf
Results/Cell Fate - Organoid/NANOG_5of10.png
Results/Cell Fate - Organoid/NANOG_5of20.pdf
Results/Cell Fate - Organoid/NANOG_5of20.png
Results/Cell Fate - Organoid/NANOG_6of10.pdf
Results/Cell Fate - Organoid/NANOG_6of10.png
Results/Cell Fate - Organoid/NANOG_6of20.pdf
Results/Cell Fate - Organoid/NANOG_6of20.png
Results/Cell Fate - Organoid/NANOG_7of10.pdf
Results/Cell Fate - Organoid/NANOG_7of10.png
Results/Cell Fate - Organoid/NANOG_7of20.pdf
Results/Cell Fate - Organoid/NANOG_7of20.png
Results/Cell Fate - Organoid/NANOG_8of10.pdf
Results/Cell Fate - Organoid/NANOG_8of10.png
Results/Cell Fate - Organoid/NANOG_8of20.pdf
Results/Cell Fate - Organoid/NANOG_8of20.png
Results/Cell Fate - Organoid/NANOG_9of10.pdf
Results/Cell Fate - Organoid/NANOG_9of10.png
Results/Cell Fate - Organoid/NANOG_9of20.pdf
Results/Cell Fate - Organoid/NANOG_9of20.png
Results/Cell Fate - Organoid/NANOG_10of10.pdf
Results/Cell Fate - Organoid/NANOG_10of10.png
Results/Cell Fate - Organoid/NANOG_10of20.pdf
Results/Cell Fate - Organoid/NANOG_10of20.png
Results/Cell Fate - Organoid/NANOG_11of20.pdf
Results/Cell Fate - Organoid/NANOG_11of20.png
Results/Cell Fate - Organoid/NANOG_12of20.pdf
Results/Cell Fate - Organoid/NANOG_12of20.png
Results/Cell Fate - Organoid/NANOG_13of20.pdf
Results/Cell Fate - Organoid/NANOG_13of20.png
Results/Cell Fate - Organoid/NANOG_14of20.pdf
Results/Cell Fate - Organoid/NANOG_14of20.png
Results/Cell Fate - Organoid/NANOG_15of20.pdf
Results/Cell Fate - Organoid/NANOG_15of20.png
Results/Cell Fate - Organoid/NANOG_16of20.pdf
Results/Cell Fate - Organoid/NANOG_16of20.png
Results/Cell Fate - Organoid/NANOG_17of20.pdf
Results/Cell Fate - Organoid/NANOG_17of20.png
Results/Cell Fate - Organoid/NANOG_18of20.pdf
Results/Cell Fate - Organoid/NANOG_18of20.png
Results/Cell Fate - Organoid/NANOG_19of20.pdf
Results/Cell Fate - Organoid/NANOG_19of20.png
Results/Cell Fate - Organoid/NANOG_20of20.pdf
Results/Cell Fate - Organoid/NANOG_20of20.png
Results/Cell Fate - Organoid/Data_0of10.csv
Results/Cell Fate - Organoid/Data_1of10.csv
Results/Cell Fate - Organoid/Data_2of10.csv
Results/Cell Fate - Organoid/Data_3of10.csv
Results/Cell Fate - Organoid/Data_4of10.csv
Results/Cell Fate - Organoid/Data_5of10.csv
Results/Cell Fate - Organoid/Data_6of10.csv
Results/Cell Fate - Organoid/Data_7of10.csv
Results/Cell Fate - Organoid/Data_8of10.csv
Results/Cell Fate - Organoid/Data_9of10.csv
Results/Cell Fate - Organoid/Data_10of10.csv
Results/Cell Fate - Organoid/NANOG_0of10.pdf
Results/Cell Fate - Organoid/NANOG_0of10.png
Results/Cell Fate - Organoid/NANOG_1of10.pdf
Results/Cell Fate - Organoid/NANOG_1of10.png
Results/Cell Fate - Organoid/NANOG_2of10.pdf
Results/Cell Fate - Organoid/NANOG_2of10.png
Results/Cell Fate - Organoid/NANOG_3of10.pdf
Results/Cell Fate - Organoid/NANOG_3of10.png
Results/Cell Fate - Organoid/NANOG_4of10.pdf
Results/Cell Fate - Organoid/NANOG_4of10.png
Results/Cell Fate - Organoid/NANOG_5of10.pdf
Results/Cell Fate - Organoid/NANOG_5of10.png
Results/Cell Fate - Organoid/NANOG_6of10.pdf
Results/Cell Fate - Organoid/NANOG_6of10.png
Results/Cell Fate - Organoid/NANOG_7of10.pdf
Results/Cell Fate - Organoid/NANOG_7of10.png
Results/Cell Fate - Organoid/NANOG_8of10.pdf
Results/Cell Fate - Organoid/NANOG_8of10.png
Results/Cell Fate - Organoid/NANOG_9of10.pdf
Results/Cell Fate - Organoid/NANOG_9of10.png
Results/Cell Fate - Organoid/NANOG_10of10.pdf
Results/Cell Fate - Organoid/NANOG_10of10.png
Results/Cell Fate - Organoid/Data_0of10.csv
Results/Cell Fate - Organoid/Data_1of10.csv
Results/Cell Fate - Organoid/Data_2of10.csv
Results/Cell Fate - Organoid/Data_3of10.csv
Results/Cell Fate - Organoid/Data_4of10.csv
Results/Cell Fate - Organoid/Data_5of10.csv
Results/Cell Fate - Organoid/Data_6of10.csv
Results/Cell Fate - Organoid/Data_7of10.csv
Results/Cell Fate - Organoid/Data_8of10.csv
Results/Cell Fate - Organoid/Data_9of10.csv
Results/Cell Fate - Organoid/Data_10of10.csv
Results/Cell Fate/Data.csv
Results/Cell Fate/GATA6.pdf
Results/Cell Fate/GATA6.png
Results/Cell Fate/NANOG.pdf
Results/Cell Fate/NANOG.png
Results/Cell Fate/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 1 to 2/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 1 to 2/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 1 to 2/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 1 to 2/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 1 to 2/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 1 to 2/PairCorr.pdf
Results/Publications/Pattern Formation/Cell Fate - 1 to 2/PairCorr.png
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 (local)/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 (local)/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 (local)/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 (local)/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 (local)/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 (local)/PairCorr.pdf
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 (local)/PairCorr.png
Results/Publications/Pattern Formation/Cell Fate - 2 to 1/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 2 to 1/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 2 to 1/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 2 to 1/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 2 to 1/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 2 to 1/PairCorr.pdf
Results/Publications/Pattern Formation/Cell Fate - 2 to 1/PairCorr.png
Results/Publications/Pattern Formation/Cell Fate - 2 to 1 (local)/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 2 to 1 (local)/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 2 to 1 (local)/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 2 to 1 (local)/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 2 to 1 (local)/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 2 to 1 (local)/PairCorr.pdf
Results/Publications/Pattern Formation/Cell Fate - 2 to 1 (local)/PairCorr.png
Results/Publications/Pattern Formation/Cell Fate - 85 to 92 (nonlocal, D=10000)/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 85 to 92 (nonlocal, D=10000)/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 85 to 92 (nonlocal, D=10000)/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 85 to 92 (nonlocal, D=10000)/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 85 to 92 (nonlocal, D=10000)/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 85 to 92 (nonlocal, D=10000)/PairCorr.pdf
Results/Publications/Pattern Formation/Cell Fate - 85 to 92 (nonlocal, D=10000)/PairCorr.png
Results/Publications/Pattern Formation/Cell Fate - 85 to 92 (nonlocal, D=10000)/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 89 to 88 (nonlocal, D=1000)/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 89 to 88 (nonlocal, D=1000)/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 89 to 88 (nonlocal, D=1000)/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 89 to 88 (nonlocal, D=1000)/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 89 to 88 (nonlocal, D=1000)/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 89 to 88 (nonlocal, D=1000)/PairCorr.pdf
Results/Publications/Pattern Formation/Cell Fate - 89 to 88 (nonlocal, D=1000)/PairCorr.png
Results/Publications/Pattern Formation/Cell Fate - 89 to 88 (nonlocal, D=1000)/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 91 to 86 (nonlocal, D=100)/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 91 to 86 (nonlocal, D=100)/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 91 to 86 (nonlocal, D=100)/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 91 to 86 (nonlocal, D=100)/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 91 to 86 (nonlocal, D=100)/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 91 to 86 (nonlocal, D=100)/PairCorr.pdf
Results/Publications/Pattern Formation/Cell Fate - 91 to 86 (nonlocal, D=100)/PairCorr.png
Results/Publications/Pattern Formation/Cell Fate - 91 to 86 (nonlocal, D=100)/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 99 to 78/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 99 to 78/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 99 to 78/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 99 to 78/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 99 to 78/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 99 to 78/PairCorr.pdf
Results/Publications/Pattern Formation/Cell Fate - 99 to 78/PairCorr.png
Results/Publications/Pattern Formation/Cell Fate - 99 to 78 (local)/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 99 to 78 (local)/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 99 to 78 (local)/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 99 to 78 (local)/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 99 to 78 (local)/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 99 to 78 (local)/PairCorr.pdf
Results/Publications/Pattern Formation/Cell Fate - 99 to 78 (local)/PairCorr.png
Results/Cell Fate/Data.csv
Results/Cell Fate/GATA6.pdf
Results/Cell Fate/GATA6.png
Results/Cell Fate/NANOG.pdf
Results/Cell Fate/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 1 to 2/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 1 to 2/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 1 to 2/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 1 to 2/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 1 to 2/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 1 to 2/PairCorr.pdf
Results/Publications/Pattern Formation/Cell Fate - 1 to 2/PairCorr.png
Results/Publications/Pattern Formation/Cell Fate - 2 to 1/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 2 to 1/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 2 to 1/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 2 to 1/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 2 to 1/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 2 to 1/PairCorr.pdf
Results/Publications/Pattern Formation/Cell Fate - 2 to 1/PairCorr.png
Results/Publications/Pattern Formation/Cell Fate - 99 to 78/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 99 to 78/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 99 to 78/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 99 to 78/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 99 to 78/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 99 to 78/PairCorr.pdf
Results/Publications/Pattern Formation/Cell Fate - 99 to 78/PairCorr.png
Results/Cell Fate/GATA6.pdf
Results/Cell Fate/GATA6.png
Results/Cell Fate/NANOG.pdf
Results/Cell Fate/NANOG.png
Results/Pair Correlations/pair_correlations.pdf
Results/Pair Correlations (without DN DP)/pair_correlations_no_DN_DP.pdf
Results/Publications/Pattern Formation/NANOG_1_10_large.jpg
Results/Publications/Pattern Formation/NANOG_1_10_large.pdf
Results/Publications/Pattern Formation/NANOG_1_10_mid.jpg
Results/Publications/Pattern Formation/NANOG_1_10_mid.pdf
Results/Publications/Pattern Formation/NANOG_1_10_small.jpg
Results/Publications/Pattern Formation/NANOG_1_10_small.pdf
Results/Publications/Pattern Formation/NANOG_5_10_large.jpg
Results/Publications/Pattern Formation/NANOG_5_10_large.pdf
Results/Publications/Pattern Formation/NANOG_5_10_mid.jpg
Results/Publications/Pattern Formation/NANOG_5_10_mid.pdf
Results/Publications/Pattern Formation/NANOG_5_10_small.jpg
Results/Publications/Pattern Formation/NANOG_5_10_small.pdf
Results/Publications/Pattern Formation/NANOG_9_10_large.jpg
Results/Publications/Pattern Formation/NANOG_9_10_large.pdf
Results/Publications/Pattern Formation/NANOG_9_10_mid.jpg
Results/Publications/Pattern Formation/NANOG_9_10_mid.pdf
Results/Publications/Pattern Formation/NANOG_9_10_small.jpg
Results/Publications/Pattern Formation/NANOG_9_10_small.pdf
Results/Publications/Pattern Formation/NANOG_local_large.jpg
Results/Publications/Pattern Formation/NANOG_local_large.pdf
Results/Publications/Pattern Formation/NANOG_local_mid.jpg
Results/Publications/Pattern Formation/NANOG_local_mid.pdf
Results/Publications/Pattern Formation/NANOG_local_small.jpg
Results/Publications/Pattern Formation/NANOG_local_small.pdf
Results/Publications/Pattern Formation/pair_correlation_1_10_size.pdf
Results/Publications/Pattern Formation/pair_correlation_1_10_size.png
Results/Publications/Pattern Formation/pair_correlation_5_10_size.pdf
Results/Publications/Pattern Formation/pair_correlation_5_10_size.png
Results/Publications/Pattern Formation/pair_correlation_9_10_size.pdf
Results/Publications/Pattern Formation/pair_correlation_9_10_size.png
Results/Publications/Pattern Formation/pair_correlation_local_large.pdf
Results/Publications/Pattern Formation/pair_correlation_local_large.png
Results/Publications/Pattern Formation/pair_correlation_local_mid.pdf
Results/Publications/Pattern Formation/pair_correlation_local_mid.png
Results/Publications/Pattern Formation/pair_correlation_local_small.pdf
Results/Publications/Pattern Formation/pair_correlation_local_small.png
Results/Publications/Pattern Formation/tissue.pdf
Results/Publications/Pattern Formation/tissue.png
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=1_10/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=1_10/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=1_10/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=1_10/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=1_10/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=1_10/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=5_10/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=5_10/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=5_10/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=5_10/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=5_10/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=5_10/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=9_10/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=9_10/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=9_10/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=9_10/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=9_10/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 1 to 2 q=9_10/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 169 to 155 q=1_10/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 169 to 155 q=1_10/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 169 to 155 q=1_10/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 169 to 155 q=1_10/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 169 to 155 q=1_10/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 169 to 155 q=1_10/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 175 to 149 q=5_10/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 175 to 149 q=5_10/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 175 to 149 q=5_10/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 175 to 149 q=5_10/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 175 to 149 q=5_10/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 175 to 149 q=5_10/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 185 to 139 (local, large)/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 185 to 139 (local, large)/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 185 to 139 (local, large)/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 185 to 139 (local, large)/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 185 to 139 (local, large)/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 185 to 139 (local, large)/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 207 to 117 q=9_10/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 207 to 117 q=9_10/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 207 to 117 q=9_10/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 207 to 117 q=9_10/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 207 to 117 q=9_10/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 207 to 117 q=9_10/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 23 to 70 q=9_10/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 23 to 70 q=9_10/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 23 to 70 q=9_10/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 23 to 70 q=9_10/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 23 to 70 q=9_10/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 23 to 70 q=9_10/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 42 to 51 q=5_10/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 42 to 51 q=5_10/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 42 to 51 q=5_10/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 42 to 51 q=5_10/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 42 to 51 q=5_10/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 42 to 51 q=5_10/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 43 to 50 q=1_10/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 43 to 50 q=1_10/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 43 to 50 q=1_10/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 43 to 50 q=1_10/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 43 to 50 q=1_10/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 43 to 50 q=1_10/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 50 to 43 (local, small)/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 50 to 43 (local, small)/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 50 to 43 (local, small)/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 50 to 43 (local, small)/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 50 to 43 (local, small)/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 50 to 43 (local, small)/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=1_10/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=1_10/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=1_10/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=1_10/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=1_10/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=1_10/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=5_10/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=5_10/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=5_10/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=5_10/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=5_10/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=5_10/Parameters.txt
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=9_10/Data.csv
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=9_10/GATA6.pdf
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=9_10/GATA6.png
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=9_10/NANOG.pdf
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=9_10/NANOG.png
Results/Publications/Pattern Formation/Cell Fate - 88 to 89 q=9_10/Parameters.txt
Results/Cell Fate/GATA6.pdf
Results/Cell Fate/GATA6.png
Results/Cell Fate/NANOG.pdf
Results/Cell Fate/NANOG.png
